* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', 'Open Sans', 'Roboto', 'Poppins', sans-serif;    
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

h1, h2, h3{
    font-family: 'Arial', sans-serif;
}

body {
    min-height: 119rem;
    max-width: 100vw;
    color: #111111;
}

.hd-navbar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(248, 249, 250);
    border-bottom: 2px solid rgb(229, 228, 226);
}

.navbar {
    display: flex;
    height: 3.6rem;    
    margin-left: 4rem;
    margin-right: 4rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    align-items: center;
}

.container-logo-opt {
    display: flex;
    gap: 1.5rem
}

.brand-logo {
    display: flex;
    align-items: center;
    color: #000 !important;
}

.brand-logo svg {
    height: 2rem;
    width: 2rem;
}

.brand-logo .brand-name {
    color: black !important;
    letter-spacing: -.02rem;
    margin-left: 0.375rem;
    font-weight: 700;
    font-size: 1.25rem;
}

.navbar-logo:visited {
    color: inherit;
    text-decoration: inherit;
}

.menu-container {
    display: flex;
    position: relative;
    margin-left: 1.875rem;
    z-index: 10;
    flex: 1 1 0%;
    align-items: center;
    justify-content: center;
    max-width: max-content;
}

.navbar-menu {
    position: relative;
}

.navbar-menu .option-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-menu .menu-btn {
    display: inline-flex;
    color: #000 !important;
    background-color: transparent;
    height: 2.875rem;
    align-items: center;
    justify-content: center;
    margin-left: 0.4375rem;
    margin-right: 0.4375rem;
    padding: 0.5rem 0.7rem;
    font-size: 0.97rem;
    line-height: 1.25rem;
    font-weight: 500;
    border: none;
    transition: all ease 1s;
}

.navbar-menu svg {
    position: relative;
    width: .75rem;
    height: .75rem;
    margin-left: 2px;
    top: 2px;
}

.navbar-menu .menu-btn:hover {
    background-color: rgb(219, 215, 210);
    border-radius: 0.625rem;
}

.navbar-menu .menu-btn:visited {
    color: inherit;
    text-decoration: inherit;
}

.option-menu .menu {
    display: none;
    list-style: none;
    position: absolute;
    width: 13rem;
    padding: 0.5rem;
    background: rgb(248, 249, 250);
    color: black !important;
    border: 1px solid rgb(222, 226, 230);
    border-radius: 6px;
    top: 47px;
    left: 84px;
    z-index: 1;
    /* opacity: 0; */
}

.wrapper-product-opt:hover .menu {
    display: block;
    transition-delay: 0.7s;
}

.menu li {
    padding: 0.2rem 0.3rem;
    border-radius: 6px;
}

.menu .product-opt {
    display: inline-flex;
    background-color: transparent;
    width: 100%;
    height: 2.875rem;
    padding: 0.5rem 0.7rem;
    font-size: 0.97rem;
    line-height: 1.65rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: all ease 0.7s;
}

.menu .product-opt:hover {
    background-color: rgb(173, 181, 189);
    border-radius: 6px;
}

.container-icon-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1 0%;
}

.container-icon-btn .navbar-icon-btn {
    display: flex;
    align-items: center;
}

.navbar-icon-btn .search-icon {
    display: inline-flex;
    flex: 1 1 0%;
    padding: 0.1875rem 0.4375rem;
    margin-left: 0.25rem;
    margin-right: 0.5rem;
    background: transparent;
    border: 0.125rem solid rgb(229, 228, 226);
    border-radius: 0.5rem;
    transition: all ease 0.7s;
    cursor: pointer;
}

.navbar-icon-btn .search-icon a:visited {
    color: inherit;
}

.container-icon-btn .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(233, 236, 239, 0.5);
    backdrop-filter: blur(5px);
    z-index: 999;
}

.container-icon-btn .search-box {
    display: none;
    position: fixed;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -52%);
    width: 512px;
    padding: 20px;
    background: white;
    border: 1px solid rgb(229, 228, 226);
    border-radius: 8px;
    z-index: 1000;
}

.search-box h2 {
    margin-left: 2px;
    font-size: 1.15rem;
    font-weight: 600;
    line-height: 1rem;
    letter-spacing: -.025rem;
}

.search-box p {
    margin-left: 2px;
    margin-top: 8px;
    font-size: .875rem;
    line-height: 1.25rem;
    color: rgb(108, 117, 125) !important;
}

.search-box .close {
    position: absolute;
    top: 4px;
    right: 11px;
    cursor: pointer;
    font-size: 30px; 
}

.search-box input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1rem;
    letter-spacing: -0.025rem;
    border: 1px solid rgb(229, 228, 226);
    border-radius: 4px;
}

.search-box #search-results {
    margin-top: 10px;
}

#search-results .search-result-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    background: rgb(233, 236, 239);
}

.search-result-item img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.search-result-item .product-name {
    flex: 1;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1rem;
    letter-spacing: -.005rem;
}

.search-result-item .product-price {
    font-size: 0.95rem;
    font-weight: 600;
    line-height: 1rem;
    letter-spacing: -.005rem;
}

.navbar-icon-btn .cart-icon {
    position: relative;
    display: inline-flex;
    padding: 0.1875rem 0.4375rem;
    margin-left: 0.25rem;
    margin-right: 1rem;
    background: transparent;
    border: 0.125rem solid rgb(229, 228, 226);
    border-radius: 0.5rem;
    transition: all ease 0.7s;
    cursor: pointer;
}

.cart-icon .cart-badge {
    position: absolute;
    display: inline-flex;
    top: -9px;
    right: -9px;
    height: 20px;
    width: 20px;
    font-size: 12px;
    font-weight: 600;
    align-items: center;
    background: rgb(222, 226, 230);
    justify-content: center;
    border-radius: 10px;
    /* padding-right: 6px; */
    /* padding-left: 6px; */
}

.navbar-icon-btn .cart-icon:hover{
    background-color: rgb(219, 215, 210);
} 

.navbar-icon-btn .cart-icon a:visited {
    color: inherit
}

.container-icon-btn .cart-overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(233, 236, 239, 0.5);
    backdrop-filter: blur(5px);
    z-index: 998;
}

.container-icon-btn .cart {
    display: none; /* Mặc định ẩn giỏ hàng */
    position: fixed;
    top: 0;
    right: 0;
    width: 650px;
    height: 100%;
    padding: 20px;
    background: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow-y: auto;
}

.cart .close {
    position: absolute;
    top: 15px;
    right: 24px;
    font-size: 36px;
    cursor: pointer;
}

.cart h2 {
    margin-top: 30px;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: -.025rem;
    line-height: 1.5rem;
}

.cart .cart-content {
    margin-top: 20px;
}

.cart .free-shipping {
    padding: 10px;
    background-color: rgb(233, 236, 239);
    color: rgb(108, 117, 125);
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 600;
    border: 1px solid rgb(173, 181, 189);
    border-radius: 5px;
    text-align: center;
}

.cart .cart-items {
    display: flex;
    min-height: 100px;
    margin-top: 16px;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px dashed rgb(229, 228, 226);
    border-radius: 6px;
}

.cart-items p {
    color: rgb(108, 117, 125);
    font-size: 0.975rem;
    font-weight: 500;
    letter-spacing: -.015rem;
    line-height: 1.5rem;
}

.cart .start-shopping-btn {
    display: block;
    width: 100%;
    padding: 12px;
    height: 40px;
    font-size: 0.875rem;
    font-weight: 600;
    color: rgb(52, 58, 64) !important;
    background-color: rgb(206, 212, 218);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
}

.cart .start-shopping-btn:hover {
    background-color: rgb(52, 58, 64);
    color: rgb(233, 236, 239) !important;
}


@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}

.cart.show-cart {
    display: block;
    animation: slideIn 0.7s forwards;
}

.cart.hide-cart {
    animation: slideOut 0.7s forwards;
    animation-fill-mode: forwards; /* giữ trạng thái cuối cùng của animation */
}

.cart-overlay.show-overlay {
    display: block;
}

.cart-overlay.hide-overlay {
    display: none;
}

.navbar-icon-btn .login-btn {
    display: inline-flex;
    padding: 7.5px 1.25rem;
    font-size: 0.875rem;
    color: white;
    background: black;
    border: 1px solid rgb(229, 228, 226);
    border-radius: 0.5rem;
    transition: all ease 0.7s;
    cursor: pointer;
}

.navbar-icon-btn .login-btn:hover {
    background-color: rgb(219, 215, 210);
    color: black
}

.main-content {
    min-height: 100rem;
    max-width: 100vw;
    flex: 1 1 0%;
}

.main-content .content-container{
    max-width: 74rem;
    min-height: 100rem;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem 2rem;
}

.content-container .slideshow-container {
    max-height: 450px;
    margin-bottom: 4rem;
}

.content-container .slideshow-container {
    max-height: 450px;
    margin-bottom: 4rem;
}

.slideshow-container .slideshow-wrapper {
    position: relative;
    height: 450px;
}

.slideshow-wrapper .slideshow-slide {
    position: relative;
    height: 100%;
    width: 100%;
}

.slideshow-wrapper .slideshow-fade {
    position: absolute;
    height: 450px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: none;
    overflow: hidden;
}

.slideshow-fade img {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    border-radius: 15px;
}

.slideshow-fade .overlay-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(108, 117, 125, .5);
    border-radius: 15px;
}

.slideshow-container-content {
    position: absolute;
    height: fit-content;
    width: fit-content;
    margin: auto;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Đảm bảo văn bản nằm trên các hình ảnh */
}

.slideshow-container-content .slideshow-content {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    border: 1px solid white;
    background: rgba(233, 236, 239, 0.8);
    border-radius: 10px;
    gap: .5rem;
}

.slideshow-content .content-title {
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: -.04em;
}

.slideshow-content .container-subtitle {
    display: flex;
    flex-direction: column;
    margin-bottom: .3rem;
    gap: .5rem;
}

.container-subtitle .content-subtitle {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.15rem;
    text-wrap: balance;
}

.slideshow-content a {
   color: inherit;
   text-decoration: none;
}

.slideshow-content button {
    display: inline-flex;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    color: rgb(233, 236, 239) !important;
    background-color: rgb(52, 58, 64);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    text-transform: none;
    transition: all ease-in-out 0.6s;
    border: 1px solid rgb(206, 212, 218);
    border-radius: 5px; 
    cursor: pointer;
}

.slideshow-content button:hover {
    background-color: rgba(108, 117, 125, 0.5);
}

.slideshow-container .slideshow-dot {
    display: flex;
    margin-top: .5rem;
    margin-bottom: 4rem;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.slideshow-dot button {
    text-transform: none;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.slideshow-dot .slideshow-transitions {
    margin-top: .5rem;
    height: .75rem;
    width: .75rem;
    border-radius: 50%;
    border: 2px solid black;
}

.container-section-title .wrapper-title {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    gap: .25rem;
}

.slideshow-dot .active {
    background-color: rgb(20, 33, 61); /* Màu khi đang hoạt động */
}

.wrapper-title .section-title{
    font-size: 1.875rem;
    font-weight: 800;
    line-height: 2.05rem;
    letter-spacing: -.03rem;
}

.wrapper-title .section-description{
    padding-left: 2px;
    color: rgb(73, 80, 87);
    font-size: 1.075rem;
    line-height: 1.55rem;
    text-wrap: balance;
}

.container-items-type  {
    display: grid;
    max-height: 11.875rem;
    max-width: 90%;
    height: 11.875rem;
    margin: 1.5rem auto;
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.container-items-type a {
    color: inherit;
    text-decoration: inherit;
    transition: all ease 0.5s;
}


.container-items-type .items-type-box {
    display: flex;
    max-width: 10.5rem;
    height: 100%;
    border-radius: 5px;
    background-color: transparent;
    flex-direction: column;
}

.img-types {
    display: flex;
    width: 10.5rem;
    height: 9.875rem;
    justify-content: center;
}

.img-types img {
    width: 9.5rem;
    height: 9.5rem;
    object-fit: cover;
    border-radius: 4.6875rem;
    filter: drop-shadow(0 0 1rem rgb(173, 181, 189));
}

.container-name-types .name-types {
    display: flex;
    height: 2rem;
    width: 10.5rem;
    color: rgb(73, 80, 87) !important;
    font-size: 0.875rem;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    letter-spacing: -.02rem;
}

.container-name-types .name-types:hover {
    color:black !important;
}

.container-list-product {
    padding-top: 4rem;
}

.container-list-product .wrapper-title {
    display: flex;
    align-items: center;
    padding-bottom: 0.25rem;
    justify-content: space-between;
    gap: 1rem;
}

.wrapper-title .feature-products {
    display: flex;
    max-width: 61.25rem;
    flex: 1 1 0%;
    flex-direction: column;
    gap: 0.125rem;
}

.feature-products .feature-products-title {
    font-size: 1.875rem;    
    font-weight: 800;
    line-height: 2.05rem;
    letter-spacing: -.05rem;
}

.feature-products .feature-products-subtitle {
    padding-left: 1px;
    color: rgb(73, 80, 87);
    font-size: 1.05rem;
    line-height: 1.55rem;
    text-wrap: balance;
}

.wrapper-title a {
    display: flex;
    height: 2.5rem;
    color: black !important;
    padding-left: 0.875rem;
    padding-right: 0.875rem;
    padding-top: .375rem;
    padding-bottom: .375rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 1.25rem;
    white-space: nowrap;
    transition: all ease 0.7s;
    border: 2px solid rgb(245, 235, 224);
    border-radius: .5rem;
}

.wrapper-title svg {
    vertical-align: baseline;
    width: 1.5rem;
    height: 1.4rem;
    padding-top: 0.125rem;
}

.wrapper-title a:hover {
    background-color: rgb(219, 215, 210) ;
}
.container-product {
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
}

.container-product .product-card {
    display: grid;
    min-height: 18.75rem;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 0.5rem;
}

.product-card .product-card-details {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid rgb(173, 181, 189);
    border-radius: 0.625rem;
}

.product-card-details a {
    color: inherit;
    text-decoration: inherit;
}

.container-img-products {
    display: flex;
    min-height: 12.375rem;
    flex-direction: column;
}

.container-img-products .product-card-img {
    position: relative;
    width: 100%;
    height: 13.375rem;
    padding-bottom: 13.375rem;  
}

.product-card-img .card-img{
    position: absolute;
    inset: 0px;
}

.card-img .img-detail {
    display: flex;
    width: 100%;
    height: 100%;
    animation: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.img-detail img {
    max-height: 13.375rem;
    min-width: 13.375rem;
    width: 100%;
    object-fit: cover;
}

.products-card-name {
    padding: 0.5rem 1rem;
}

.products-card-name .product-card-title{
    font-weight: 600;
    line-height: 1.25;
    overflow: hidden;
    letter-spacing: -.025em;
}

.products-card-name .products-card-price {
    overflow: hidden;
    font-size: 0.885rem;
    line-height: 1.25rem;
    margin-top: 2px;
}

.container-action-products {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    padding-top: .25rem;
}

.container-action-products .product-card-action {
    display: flex;
    align-items: center;
    width: 100%;
}

.product-card-action button {
    display: inline-flex;
    height: 2rem;
    width: 85%;
    margin-left: 5px;
    padding-left: .75rem;
    padding-right: .75rem;
    align-items: center;
    justify-content: center;
    color: black !important;
    background-color: transparent;
    font-size: .85rem;    
    font-weight: 600;
    line-height: 1rem;
    white-space: nowrap;
    border: 1px solid rgb(173, 181, 189);
    border-radius: 0.5rem;
    transition: all ease 0.5s;
    cursor: pointer;
}

.product-card-action button:hover {
    background-color: rgb(219, 215, 210);
}

.product-card-action a {
    display: inline-flex;
    margin-left: 3px;
    height: 2rem;
    width: 2rem;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    border: 1px solid rgb(173, 181, 189);    
    border-radius: 0.5rem;
    flex-shrink: 0;
    transition: all ease 0.5s;
}

.product-card-action a:hover {
    background-color: rgb(219, 215, 210);
}

.product-card-action svg {
    height: 1.35rem;
    width: 1.3rem;
}

.product-card-details .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(233, 236, 239, 0.5);
    backdrop-filter: blur(5px);
    z-index: 999;
}

.product-card-details .product-details {
    display: none;
    position: fixed;
    width: 672px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(206, 212, 218);
    padding: 20px;
    background: white;
    z-index: 1000;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.product-details .close {
    position: absolute;
    top: 4px;
    right: 11px;
    font-size: 30px;
    cursor: pointer;
}

.product-details .product-content {
    display: flex;
}

.product-content img {
    width: 250px;
    height: 192px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.product-content .product-info {
    flex: 1;
}

.product-info h2 {
    margin: 0;
    margin-left: 2px;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.25rem;
    letter-spacing: -.025rem;
}

.product-info p {
    margin: 5px 0;
    margin-left: 2px;
    margin-top: 8px;
    font-size: .875rem;
    line-height: 1.25rem;
    color: rgb(108, 117, 125) !important;
}

.product-info .view-product-btn {
    margin-top: 4px;
    padding: 14px 20px;
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(233, 236, 239);
    color: rgb(52, 58, 64);
    border: none;
    border-radius: 4px;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
}

.view-product-btn:hover {
    background-color: rgb(52, 58, 64);
    color: rgb(233, 236, 239);
}

/* @media (max-width: 768px) {
    .product-card-details {
        width: 40%;
    }
}

@media (max-width: 480px) {
    .product-card-details {
        width: 80%;
    }
} */

.container-left-right-product{
    display: flex;
    max-height: 3.125rem;
    height: 1.875rem;
    align-items: center;
    justify-content:flex-end;
    gap: 1rem;
}

.container-left-right-product .wrapper-left-right-icon {
    display: flex;
    align-items: center;
}

.wrapper-left-right-icon svg {
    display: inline-flex;
    height: 2rem;
    width: 2rem;
    margin-left: 0.375rem;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    flex-shrink: 0;
    border: 1px solid rgb(173, 181, 189);    
    border-radius: 0.5rem;
    transition: all ease 0.7s;
    cursor: pointer;
}

.wrapper-left-right-icon svg:hover {
    background-color: rgb(219, 215, 210);
}

.services-container {
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.services-container .wrapper-services-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-services-title .services-title {
    display: flex;
    max-width: 61.25rem;
    justify-content: center;
    flex: 1 1 0%;
    gap: .125rem;
}

.services-title h2 {
    font-weight: 600;
    font-size: 1.65rem;
    line-height: 2.25rem;
    letter-spacing: -.05rem;
}

.container-content-services{
    margin-top: 1.6375rem;
    margin-bottom: 0.9375rem;
}

.container-content-services .wrapper-content-services {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    max-width: 65.625rem;
    min-height: 5.25rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
}

.wrapper-content-services .container-feature-services{
    display: flex;
    height: 5.375rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    padding-top: .25rem;
    border: 1px solid rgb(173, 181, 189);    
    transition: all ease 0.7s;
    cursor: pointer;
    border-radius: 0.625rem;
}

.wrapper-content-services .container-feature-services:hover {
    background-color: rgb(219, 215, 210);
}

/* .container-items-type a:not(:hover) {
    filter: blur(20px)
} */

.container-feature-services .wrapper-feature-services{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 85%;
}

.wrapper-feature-services .delivery-icon{
    display: inline-flex;
    height: 2.125rem;
    width: 3.4375rem;
    /* padding-left: .75rem; */
    padding-right: .75rem;
    align-items: center;
    justify-content: center;
    color: pink !important;
    background-color: transparent;
    cursor: pointer;
}

.delivery-icon svg {
    width: 3rem;
    height: 3rem;
}

.delivery-text {
    line-height: 1.35rem;
    text-wrap: balance;
    letter-spacing: -.04rem;
}

.delivery-text .title-delivery {
    font-size: 1.18rem;  
    font-weight: 600;
}

.delivery-text .subtitle-delivery {
    color: rgb(73, 80, 87) !important;  
    font-size: .875rem;  
}

.footer-info-contact {
    background-color: transparent;
    width: 100%;
    border-top: 2px solid rgb(229, 228, 226);
}

.footer-info-contact .container-info-contact {
    display: grid;
    min-width: 84rem;
    min-height: 15rem;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
    padding-left: 1.9rem;
    padding-right: 1.9rem;
    align-items: center;
    gap: 2rem;
}

.container-info-contact .wrapper-info-contact{
    display: flex;
    min-height: 168px;    
    flex-direction: row;
    gap: 5rem;
}

.logo-brand a {
    display: flex;
    width: fit-content;
    align-items: center;
}

.logo-brand svg {
    color: black !important;
    vertical-align: middle;
    width: 2.2rem;
    height: 2.2rem;
}

.logo-brand .logo-name {
    margin-left: 0.2rem;
    color: black !important;
    font-size: 1.45rem;
    font-weight: 700;
    letter-spacing: -.02rem;
}

.logo-brand .info-contact{
    padding-left: 3px;
    color: rgb(73, 80, 87);
    font-size: 0.95rem;
    line-height: 1.55rem;
    text-wrap: balance;
}   

.wrapper-info-contact .wrapper-info{
    display: grid;
    flex: 1 1 0%;
    gap: 2.5rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.support-info h4 {
    margin-top: 4px;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.support-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 4px;
}

.support-info li {
    width: 240px;
    margin-top: 10px;
}

.support-info a, .support-info-title{
    /* display: flex; */
    text-decoration: inherit;
    color: rgb(73, 80, 87) !important;
    align-items: center;
    font-size: 1.05rem;    
    line-height: 1.25rem;
    vertical-align: middle;
    gap: 4px;
}

.support-info .support-info-title {
    color: rgb(73, 80, 87) !important;
    align-items: center;
    font-weight: 600;
    font-size: 1.05rem;    
    line-height: 1.25rem;
    vertical-align: middle;
    text-decoration: inherit;
    gap: 4px;
}

.support-info svg {
    width: 16px;
    height: 16px;
}




