* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', 'Open Sans', 'Roboto', 'Poppins', sans-serif;    
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

h1, h2, h3{
    font-family: 'Arial', sans-serif;
}

ul li ol {
    text-decoration: none;
    list-style: none;
}

a {
    color: black !important;  
}

body {
    min-height: 48rem;
    max-width: 100vw;
    color: #111111;
}

.hd-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
    background-color: rgb(248, 249, 250);
}

.hd-navbar .container-logo-opt {
    position: relative;
    display: flex;
    padding: 0;
    min-height: 70px;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgb(173, 181, 189);
}

.container-logo-opt .wrapper-logo-opt {
    position: fixed;
    z-index: 10;
    width: 250px;
    line-height: 80px;
}

.wrapper-logo-opt .wrapper-logo {
    display: flex;
    align-items: center;
    height: 72px;
    justify-content: center;
    margin: 0;
    padding: 0 30px;
    white-space: nowrap;
    background: white;
}

.wrapper-logo .logo-link {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: #000 !important;
}

.logo-link svg {
    height: 2.5rem;
    width: 2.5rem;
}

.logo-link .brand-name {
    color: black !important;
    letter-spacing: -.02rem;
    font-weight: 700;
    font-size: 1.6rem;
}

.logo-link svg:visited {
    color: inherit;
    text-decoration: inherit;
}

.container-logo-opt .wrapper-opt {
    display: flex !important;
    height: 70px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 65px;
}

.wrapper-opt .otp-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.otp-menu .container-notify-icon {
    position: relative;
}

.container-notify-icon .notify-icon {
    display: block;
    padding: 0 15px;
    font-size: 1rem;
    line-height: 40px;
}

.container-notify-icon .notify-icon:visited {
    color: #000 !important;
}

.notify-icon svg {
    width: 1.7rem;
    height: 1.7rem;
    vertical-align: middle;
}

.container-notify-icon .quantity-notify {
    position: absolute;
    left: 40px;
    top: 5px;
    transform: translate(-50%, -50%);
    height: 16px;
    width: 15px;
    background: rgb(255, 8, 0);
    padding: 2px 4px;
    font-size: 10px;
    border: none;
    border-radius: 8px;
}

.otp-menu .container-info-user {
    position: relative;
}

.container-info-user .info-user {
    display: block;
    padding: 0 15px;
    font-size: 1rem;
    line-height: 40px;
}

.container-info-user .info-user:visited {
    color: #000 !important;
}

.info-user svg {
    border-style: none;
    width: 1.7rem;
    height: 1.7rem;
    vertical-align: middle;
}

.container-dropdown-opt .dropdown-opt {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    z-index: 100;
    width: 220px;
}

.dropdown-opt .wrapper-dropdown-opt {
    display: block;
}

.wrapper-dropdown-opt a {
    display: flex;
    padding: 16px 12px;
    font-size: 1.05rem;
    color: #333;
    align-items: center;
    text-decoration: none;
    gap: .5rem;
}

.wrapper-dropdown-opt a:hover {
    background-color: rgb(222, 226, 230);
    border-radius: 10px;
}

.wrapper-dropdown-opt svg{
    height: 1.4rem;
    width: 1.4rem;
}

/* .wrapper-opt .container-search-bar {
    display: flex;
    align-items: center;
} */

.container-search-bar .wrapper-search-bar {
    flex: 1 1 0%;
}

.navbar-icon-btn .search-bar {
    display: inline-flex;
    min-width: 90px;
    max-height: 32px;
    justify-content: space-between;
    align-items: center;
    gap: .5rem
}

.search-bar button {
    position: relative;
    display: flex;
    height: 40px;
    width: 300px;
    margin-right: 10px;
    padding: .5rem 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: 1px solid rgb(206, 212, 218);
    border-radius: 20px;
    box-shadow: -2px 2px 7px rgb(170, 152, 169);
    gap: .5rem;
    cursor: pointer;
}

.search-bar svg {
    height: 1.2rem;
    width: 1.2rem;
    color: rgb(108, 117, 125) !important;
}

.search-bar p {
    font-size: .875rem;
    line-height: 1.25rem;
    color: rgb(108, 117, 125) !important;
}

.container-logo-opt .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(233, 236, 239, 0.5);
    backdrop-filter: blur(5px);
    z-index: 999;
}

.container-logo-opt .search-box {
    display: none;
    position: fixed;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -52%);
    width: 512px;
    padding: 20px;
    background: white;
    border: 1px solid rgb(229, 228, 226);
    border-radius: 8px;
    z-index: 1000;
}

.search-box h2 {
    margin-left: 2px;
    font-size: 1.15rem;
    font-weight: 600;
    line-height: 1rem;
    letter-spacing: -.025rem;
}

.search-box p {
    margin-left: 2px;
    margin-top: 8px;
    font-size: .875rem;
    line-height: 1.25rem;
    color: rgb(108, 117, 125) !important;
}

.search-box .close {
    position: absolute;
    top: 4px;
    right: 11px;
    cursor: pointer;
    font-size: 30px;
}

.search-box input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1rem;
    letter-spacing: -0.025rem;
    border: 1px solid rgb(229, 228, 226);
    border-radius: 4px;
}

.search-box #search-results {
    margin-top: 10px;
}

#search-results .search-result-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    background: rgb(233, 236, 239);
}

.search-result-item img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.search-result-item .product-name {
    flex: 1;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1rem;
    letter-spacing: -.005rem;
}

.search-result-item .product-price {
    font-size: 0.95rem;
    font-weight: 600;
    line-height: 1rem;
    letter-spacing: -.005rem;
}

.left-sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    top: 0;
    z-index: 10;
    padding-top: 70px;
}

.left-sidebar .sidebar-wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.sidebar-wrapper .sidebar-nav {
    display: block;
    padding-top: 30px;
}

.sidebar-items .sidebar-link {
    display: flex;
    align-items: center;
    background: #fff; /* Nền trắng mặc định */
    color: #000; /* Chữ màu đen */
    padding: 12px 30px;
    margin-right: 17px;
    margin-bottom: 5px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    border-left: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: -2px 2px 8px rgb(173, 181, 189);
    opacity: .6;
    gap: 0.5rem;
    text-decoration: none; /* Xóa gạch chân */
}

.sidebar-link svg ,
.sidebar-link svg {
    height: 1.7rem;
    width: 1.7rem;
    color: #000
}

.sidebar-items .sidebar-link.active-link {
    background: linear-gradient(90deg, rgba(238,174,202,1) 10%, rgba(148,187,233,1) 90%); /* Màu nền khi đang hoạt động */
    color: #fff; /* Chữ màu trắng khi hoạt động */
    opacity: 1; /* Hiển thị rõ ràng hơn */
    box-shadow: -2px 2px 10px rgb(140, 140, 150); /* Tăng bóng đổ khi active */
}

.sidebar-link.active-link span, 
.sidebar-link.active-link svg {
    color: #343A40; /* Chữ và icon màu trắng khi active */
}

.sidebar-items .sidebar-link:hover {
    opacity: 1; /* Tăng độ sáng khi hover */
    box-shadow: -2px 2px 10px rgb(150, 150, 160); /* Tăng bóng đổ khi hover */
    transition: all 0.3s ease; /* Hiệu ứng mượt khi thay đổi */
}

.wrapper-sidebar-nav .divide-side {
    margin: 20px 0 20px 30px;
    height: 1px;
    border-bottom: 0.5px solid rgb(222, 226, 230);
}

.wrapper-sidebar-nav .sidebar-cap {
    display: flex;
    align-items: center;
    padding: 0 30px;
    margin-bottom: 5px;
    line-height: 30px;
    font-size: 12px;
    white-space: nowrap;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(108, 117, 125);
}

.dashboard-container .dashboard-wrapper {
    position: relative;
    display: block;
    background: rgb(248, 249, 250);
    min-height: 100vh;
    margin-left: 250px;
    padding-top: 70px;
}

.container-dashboard-header .wrapper-dashboard-header {
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    padding: 30px 30px 0 30px;
}

.wrapper-dashboard-header .dashboard-title {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.dashboard-title h3 {
    margin: 0;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 2.2rem;
    letter-spacing: -0.05rem;
}
.dashboard-title p {
    font-size: 1.05rem;
    color: rgb(73, 80, 87);
    text-wrap: balance;
    line-height: 1.4rem;
}

.wrapper-dashboard-header .date-picker-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.date-picker-wrapper .date-picker {
    padding-right: 80px
}

.date-picker select {
    width: 8rem; 
    height: 2.5rem;
    line-height: 2rem;
    padding: 0 20px;
    border-radius: 20px;
    appearance: none; /* Removes the default arrow icon */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none;
    background-image: url(../../public/image/drop-down.png);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: right 7px center;
}

.dashboard-wrapper .container-dashboard-layout {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding: 30px;
}

.container-dashboard-layout .wrapper-card-group {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 30px;
}

.wrapper-card-group .container-summary-card {
    position: relative;
    display: flex;
    flex: 1 0 0%;
    flex-direction: column;
    word-wrap: break-word;
    background-color: rgb(248, 249, 250);
    border: 0 solid #e9ecef;
    border-radius: .25rem;
}

.container-summary-card .wrapper-summary-card {
    flex: 1 1 auto;
    padding: 20px;
}

.wrapper-summary-card .summary-card {
    display: flex;
    align-items: center;
}

.wrapper-summary-value .summary-value {
    display: inline-flex;
    align-items: center;
}

.summary-value h2 {
    display: inline-flex;
    align-items: center;
    line-height: 1.2;
    font-size: 1.875rem;
    margin-bottom: .25rem;
    font-weight: 700;
}

.summary-value span {
    display: block;
    padding: 4px .5rem;
    margin-left: .5rem !important;
    background-color: rgb(112, 224, 0);
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    vertical-align: baseline;
    border-radius: 10rem;
}

.summary-title h5 {
    overflow: hidden;
    color: rgb(173, 181, 189);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400
}

.summary-card .wrapper-icon-clients {
    margin-left: 105px;
}

.wrapper-icon-clients .icon-new-clients {
    color: rgb(173, 181, 189);
}

.icon-new-clients svg {
    height: 1.7rem;
    width: 1.7rem;
    vertical-align: middle;
    overflow: hidden;
}
