<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/admin/dashboard.css">
    <link rel="shortcut icon" href="/public/flower-icon.png" type="image/x-icon">
    <title>Dashboard</title>
</head>
<body>
    <header class="hd-navbar">
        <nav class="container-logo-opt">
            <div class="wrapper-logo-opt">
                <div class="wrapper-logo">
                    <a class="logo-link" href="dashboard.html" title="Dashboard">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-flower">
                            <circle cx="12" cy="12" r="3"/>
                            <path d="M12 16.5A4.5 4.5 0 1 1 7.5 12 4.5 4.5 0 1 1 12 7.5a4.5 4.5 0 1 1 4.5 4.5 4.5 4.5 0 1 1-4.5 4.5"/>
                            <path d="M12 7.5V9"/><path d="M7.5 12H9"/><path d="M16.5 12H15"/>
                            <path d="M12 16.5V15"/><path d="m8 8 1.88 1.88"/>
                            <path d="M14.12 9.88 16 8"/><path d="m8 16 1.88-1.88"/>
                            <path d="M14.12 14.12 16 16"/>
                        </svg>
                        <span class="brand-name">HoaViet</span>
                    </a>
                </div>
            </div>
            <div class="wrapper-opt">
                <ul class="otp-menu">    
                    <li class="container-search-bar">
                        <div class="wrapper-search-bar" title="Search">
                            <div class="search-bar">
                                <button onclick="showSearchBox()">
                                    <p class="search-title">Search...</p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search">
                                        <circle cx="11" cy="11" r="8"/>
                                        <path d="m21 21-4.3-4.3"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </li>
                    <li class="container-notify-icon">
                        <a class="notify-icon" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bell">
                                <path d="M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9"/>
                                <path d="M10.3 21a1.94 1.94 0 0 0 3.4 0"/>
                            </svg>
                        </a>
                        <span class="quantity-notify">5</span>
                    </li>
                    <li class="container-info-user">
                        <a class="info-user" href="#">
                            <!-- <img src="" alt=""> -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-user-round">
                                <path d="M18 20a6 6 0 0 0-12 0"/><circle cx="12" cy="10" r="4"/>
                                <circle cx="12" cy="12" r="10"/>
                            </svg>
                        </a>
                        <!-- <div class="dropdown-opt">
                            <a href=""></a>
                        </div> -->
                    </li>
                </ul>
            </div>
            <div id="overlay" class="overlay" onclick="hideSearchBox()"></div>
            <div id="search-box" class="search-box">
                <span class="close" onclick="hideSearchBox()">&times;</span>
                <h2>Search for a product</h2>
                <p>Search for flowers in the product catalog</p>
                <input type="text" id="search-input" placeholder="Search..." onkeyup="searchProducts()">
                <div id="search-results"></div>
            </div>
        </nav>
    </header>
    <aside class="left-sidebar">
        <div class="sidebar-wrapper">   
            <nav class="sidebar-nav">
                <ul class="wrapper-sidebar-nav">
                    <li class="sidebar-items">
                        <a class="sidebar-link" href="dashboard.html">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-house">
                                <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/>
                                <path d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/>
                            </svg>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="divide-side"></li>
                    <li class="sidebar-cap">
                        <span>Manage</span>
                    </li>
                    <li class="sidebar-items">
                        <a class="sidebar-link" href="productManage.html">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shopping-cart">
                                <circle cx="8" cy="21" r="1"/><circle cx="19" cy="21" r="1"/>
                                <path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"/>
                            </svg>
                            <span>Product</span>
                        </a>
                    </li>
                    <li class="sidebar-items">
                        <a class="sidebar-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user">
                                <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/>
                                <circle cx="12" cy="7" r="4"/>
                            </svg>
                            <span>User</span>
                        </a>
                    </li>
                    <li></li>
                </ul>
            </nav>
        </div>
    </aside>
    <div class="dashboard-container">
        <div class="dashboard-wrapper">
            <div class="container-dashboard-header">
                <div class="wrapper-dashboard-header">
                    <div class="dashboard-title-wrapper">
                        <div class="dashboard-title">
                            <h3>Dashboard</h3>
                            <p>Monitor sales metrics during the month</p>
                        </div>
                    </div>
                    <div class="date-picker-wrapper">
                        <div class="date-picker">
                            <select class="">
                                <option value="#"></option>
                                <option value="#"></option>
                                <option value="#"></option>
                                <option value="#"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-dashboard-layout">
                <div class="wrapper-card-group">
                    <div class="container-summary-card">
                        <div class="wrapper-summary-card">
                            <div class="summary-card">
                                <div>
                                    <div class="wrapper-summary-value">
                                        <div class="summary-value">
                                            <h2>200</h2>
                                            <span>+20.1%</span>
                                        </div>
                                    </div>
                                    <div class="wrapper-summary-title">
                                        <div class="summary-title">
                                            <h5>New clients</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrapper-icon-clients">
                                    <div class="icon-new-clients">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-round-plus">
                                                <path d="M2 21a8 8 0 0 1 13.292-6"/>
                                                <circle cx="10" cy="8" r="5"/><path d="M19 16v6"/>
                                                <path d="M22 19h-6"/>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-summary-card">
                        <div class="wrapper-summary-card">
                            <div class="summary-card">
                                <div>
                                    <div class="wrapper-summary-value">
                                        <div class="summary-value">
                                            <h2>
                                                <sup>$</sup>200
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="wrapper-summary-title">
                                        <div class="summary-title">
                                            <h5>Earnings of Month</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrapper-icon-clients">
                                    <div class="icon-new-clients">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-dollar-sign">
                                                <circle cx="12" cy="12" r="10"/>
                                                <path d="M16 8h-6a2 2 0 1 0 0 4h4a2 2 0 1 1 0 4H8"/>
                                                <path d="M12 18V6"/>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-summary-card">
                        <div class="wrapper-summary-card">
                            <div class="summary-card">
                                <div>
                                    <div class="wrapper-summary-value">
                                        <div class="summary-value">
                                            <h2>200</h2>
                                            <span>+20.1%</span>
                                        </div>
                                    </div>
                                    <div class="wrapper-summary-title">
                                        <div class="summary-title">
                                            <h5>New clients</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrapper-icon-clients">
                                    <div class="icon-new-clients">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-round-plus">
                                                <path d="M2 21a8 8 0 0 1 13.292-6"/>
                                                <circle cx="10" cy="8" r="5"/><path d="M19 16v6"/>
                                                <path d="M22 19h-6"/>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-summary-card">
                        <div class="wrapper-summary-card">
                            <div class="summary-card">
                                <div>
                                    <div class="wrapper-summary-value">
                                        <div class="summary-value">
                                            <h2>200</h2>
                                            <span>+20.1%</span>
                                        </div>
                                    </div>
                                    <div class="wrapper-summary-title">
                                        <div class="summary-title">
                                            <h5>New clients</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrapper-icon-clients">
                                    <div class="icon-new-clients">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-round-plus">
                                                <path d="M2 21a8 8 0 0 1 13.292-6"/>
                                                <circle cx="10" cy="8" r="5"/><path d="M19 16v6"/>
                                                <path d="M22 19h-6"/>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/src/scripts/shared/search.js"></script>
    <script src="/src/scripts/admin/manage.js"></script>
</body>
</html>